
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myappconverter.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
       <application
        android:allowBackup="true"
        
        android:name="AppDelegate"
        android:hardwareAccelerated="true"
        
        android:icon="@drawable/icon"
        
        android:label="@string/tweejump"
        android:theme="@style/AppTheme" android:debuggable="true">
		
		
			<activity
	            android:name="Cocos2dxMainActivity"
	            android:label="@string/tweejump"
	            android:configChanges="orientation"
            android:screenOrientation="portrait" >
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <category android:name="android.intent.category.LAUNCHER" />
	            </intent-filter>
	        </activity>
		
	   </application>
</manifest>
	